html {


  background-image: url("../img/Paris.jpg");
   background-size: cover;
}
div#bigtext {
  font-size: 1500%;
  font-family: 'Bebas Neue' , cursive;
  margin-top: 75px;
  margin-left: 25px;
}


div#smalltext {
  position: relative;
   left: 10%;
   margin-top: -50px;
   margin-left: -50px;
   width: 300px;
   height: 100px;
  font-family:      "Sofia", sans-serif;
  font-size:        15px;
  line-height:      1.5;
  color : white;



}
a {
  /* turns off underlining links */
  text-decoration: none;

  /* same as #808080 */
  color: black ;
  font-weight: bold;
  /* set font-size at 90% of default */
  font-size: 90%;
}

nav#links1 {

  position:fixed;
    top:10px;
    left: :10px;


}
    nav#links2 {

      position:fixed;

        top:10px;
        right: 10px;

      }
