body {
  font-family: Helvetica, Verdana, Arial, "san serif";
  background-color: darkgray;    padding: 25px;
  font-size: 120%;
          }


div#Challenges {
  padding: 50px;
  color: blue;
  border: 1px solid  currentcolor;

}
div#Problems {
  padding: 50px;
  color: darkblue;
  border: 1px  solid currentcolor;
}

div#Images {
  padding: 50px;
  color: cyan;
  border: 1px  solid currentcolor;
}




h1, h2, h3 {
  font-family: "Courier New", monospace;
  }

  img {

height : 250;
width :400;
            }
