body {
  font-family: Helvetica, Verdana, Arial, "san serif";
  background-color: darkgray;    padding: 25px;
  font-size: 120%;
          }


div#challenges {
  padding: 50px;
  color: blue;
  border: solid 1px currentcolor;
  height: 20vh;

                }
div#problems {
  color : darkblue
  padding: 50px;
  border: solid 1px currentcolor;

                      }

div#images {
  padding: 50px;
  color: cyan;
  border: solid 1px currentcolor;




h1, h2, h3 {
  font-family: "Courier New", monospace;
  }

  img {

height : 250;
width :400;
            }
